/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Open Sans Medium 500 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/* Open Sans Semi-bold 600 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/* Open Sans Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

/* Encode Sans Regular, Medium, Semi-bold, Bold */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}

.container {
    width: 100%;
    height: 100vh;
}

/* NAVBAR CSS */
.nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    background: transparent;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}
  
.nav img {
    width: 100px;
    height: 50px;
}
  
.languageBtn {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 115px;
    height: 27px;
    background: transparent;
    color: #FFF;
    font-size: 0.9rem;
    border: 1px solid #FFF;
    border-radius: 2px;
}
  
.languageDropDown {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 115px;
    height: 50px;
    background: #282828;
    border: 1px solid dimgrey;
    border-radius: 2px;
    box-shadow: 0 0 0px 2px #000;
    padding-left: 5px;
}
  
.languageDropDown p {
    font-size: 0.9rem;
    margin-top: 0;
}
  
.languageDropDown p:hover {
    background: dimgrey;
    cursor: default;
}
  
.signIn {
    width: 60px;
    height: 27px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
}

.signIn:hover {
    cursor: pointer;
}

/* HERO IMAGE / BANNER */
.banner {
    width: 100%;
    height: 515px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/netflix_landing_page_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 -200px 200px #000, inset 0 50px 200px #000;
    text-align: center;
}

.bannerWrapper {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.bannerWrapper h1 {
    width: 100%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 50px;
}
  
.bannerWrapper h2 {
    width: 80%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 15px;
}
  
.bannerWrapper p {
    width: 80%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 15px;
}

.bannerFlexRow {
    width: 100%;
}
  
.bannerFlexRow input {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    margin-top: 15px;
    border: 1px solid grey;
}
  
.bannerFlexRow input::placeholder {
    font-size: 1rem;
}

.bannerFlexRow input:focus {
    outline: none;
    border-color: blue;
}

.bannerFlexRow p {
    color: orange;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 50px;
    margin-top: 5px;
}
  
.bannerFlexRow button {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 140px;
    height: 40px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
}
  
.bannerFlexRow button:hover {
    background: #ff2400;
    cursor: pointer;
}

/* SUBSECTION */
section {
    width: 100%;
    height: calc(100vw + 45px);
    display: flex;
    background: #000;
    color: #FFF;
    border-top: 7px solid #3d3d3d;
}
  
.subsectionWrapper {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 80px;
}

.subsectionWrapper img {
    width: 90%;
    height: 100%;
}

.subsectionContent {
    width: 100%;
}
  
.subsectionWrapper h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.55rem;
    font-weight: 700;
    margin-top: 25px;
}

.subsectionContent h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 10px;
}

/* FAQ */
.faq {
    width: 100%;
    min-height: 700px;
    display: flex;
    background: #000;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    border-top: 7px solid #3d3d3d;
}

.faq p {
    width: 80%;
    font-size: 1.1rem;
    margin: auto;
    margin-top: 20px;
}
  
.faqWrapper {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.faqWrapper h1 {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 15px;
}

/* faqWrapper with margin-bottom */
.faqWrapperMb {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-bottom: 80px;
}

.faqWrapperMb h1 {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 15px;
}  
  
.faqBtn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border: none;
    padding: 1rem;
    margin-top: 0.7rem;
}

.faqBtn:hover {
    cursor: pointer;
}

@keyframes slide-down {
    from {
        max-height: 0;
    }
    to {
        max-height: 350px;
    }
}

.faqBtnDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background: #333;
    border-top: 1px solid #000;
    animation: slide-down 0.2s forwards;
}

.faqBtnDetails p {
    width: 100%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 1rem;
    margin: 0;
}

.hiddenDetails {
    width: 100%;
}

.faqFlexRow {
    width: 100%;
}

.faqFlexRow input {
    width: 90%;
    height: 50px;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid grey;
}

.faqFlexRow input::placeholder {
    font-size: 1rem;
}

.faqFlexRow input:focus {
    outline: none;
    border-color: blue;
}

.faqFlexRow p {
    color: orange;
    font-size: 0.9rem;
    text-align: left;
    margin-right: 60px;
    margin-top: 5px;
}

.getStartedBtn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 130px;
    height: 40px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin-top: 15px;
}
  
.getStartedBtn:hover {
    background: #ff2400;
    cursor: pointer;
}

/* FOOTER */
footer {
    width: 100%;
    height: 480px;
    display: flex;
    background: #000;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    border-top: 7px solid #3d3d3d;
}
  
footer a {
    color: grey;
    text-decoration: none;
}
  
footer a:hover {
    text-decoration: underline;
}
  
.footerWrapper button {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;
    background: transparent;
    color: grey;
    font-size: 18px;
    border: 1px solid #3d3d3d;
    border-radius: 2px;
}
  
.footerWrapper {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.footerWrapper p {
    width: 80%;
    font-weight: 500;
    margin-top: 20px;
}

.linksWrapper {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}
  
.linksWrapper a {
    width: 50%;
    font-size: 0.8rem;
}

.languageBtnContainer {
    position: relative;
}

.languagePopUpAlt {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 60px;
    background: #000;
    border: 1px solid dimgrey;
    border-radius: 4px;
    padding-left: 5px;
    margin-bottom: 50px;
}

.languagePopUpAlt p {
    width: 100%;
    margin-top: 0;
  }
  
.languagePopUpAlt p:hover {
    background: dimgrey;
    color: #FFF;
    cursor: default;
}