/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Open Sans Semi-bold 600 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/* Open Sans Bold 700 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
}

/* NAVBAR CSS */
.nav {
    position: absolute;
    width: 100%;
    height: 70px;
    padding: 10px;
    background: transparent;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.nav img {
    width: 100px;
    height: 50px;
}
  
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
  
.nav ul li a {
    margin: 5px 20px;
}
  
.languageBtn {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 35px;
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 2px;
}
  
.languageDropDown {
    position: absolute;
    top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 50px;
    background: #333;
    border: 1px solid dimgrey;
    border-radius: 2px;
    box-shadow: 0 0 0px 2px #000;
}
  
.languageDropDown p {
    margin-top: 0;
}
  
.languageDropDown p:hover {
    background: dimgrey;
    cursor: default;
}
  
.signIn {
    background: #e50914;
    color: #FFF;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
}

/* NAVBAR ALT */
.navAlt {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.navFlexRow {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.navFlexRow button {
    width: 50px;
    height: 50px;
    background: transparent;
    color: #FFF;
    border: none;
}

.navFlexRow button:hover {
    cursor: pointer;
}

.redirectNavBtn {
    width: 150px;
}

.browseBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* LANDING PAGE CSS */
.main {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/netflix_landing_page_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 -200px 200px #000, inset 0 50px 200px #000;
    text-align: center;
}
  
.main h1 {
    width: 90%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
}
  
.main h2 {
    width: 70%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 15px;
}
  
.main p {
    width: 70%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
}
  
.main input {
    width: 90%;
    height: 50px;
    padding-left: 10px;
    margin-top: 15px;
}
  
.main input::placeholder {
    font-size: 1rem;
}
  
.main button {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 140px;
    height: 40px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
}
  
.main button:hover {
    background: #ff2400;
    cursor: pointer;
}

/* SUBSECTION */
section {
    width: 100%;
    height: 50vh;
    display: flex;
    background: #000;
    color: #FFF;
    border-top: 7px solid #3d3d3d;
}
  
.subsectionWrapper {
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.subsectionContent {
    width: 90%;
}
  
.subsectionWrapper h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.subsectionContent h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: 15px;
}

/* FAQ */
.faq {
    width: 100%;
    min-height: 70vh;
    display: flex;
    background: #000;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    border-top: 7px solid #3d3d3d;
}
  
.faq p {
    width: 80%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 20px;
}
  
.faq input {
    width: 90%;
    height: 50px;
    padding: 10px;
    margin: auto;
    margin-top: 0;
}
  
.faqWrapper {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.faqWrapper h1 {
    font-size: 25px;
    margin-top: 50px;
}
  
.faqBtn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border: none;
    padding: 1rem;
    margin-top: 0.7rem;
}

.faqBtn:hover {
    cursor: pointer;
}

.faqBtnDetails {
    width: 100%;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background: #333;
    border-top: 1px solid #000;
    transition: all 0.1s ease-out;
}

.faqBtnDetails p {
    width: 100%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 1rem;
    margin: 0;
}

.hiddenDetails {
    height: 0;
    transition: all 0.1s ease-in;
}
  
.getStartedBtn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 130px;
    height: 40px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    margin: auto;
    margin-top: 15px;
}
  
.getStartedBtn:hover {
    background: #ff2400;
    cursor: pointer;
}

/* LOGIN / SIGN IN ROUTE */
.login {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #000;
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('assets/netflix_landing_page_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 -200px 200px #000, inset 0 50px 200px #000;
    line-height: 1; */
}

.redirectBtn { 
    background: transparent;
    border: none;
}

.redirectBtn:hover {
    cursor: pointer;
}

.login img {
    width: 200px;
    height: 100px
}
  
/* .formBackground {
    width: 450px;
    height: 670px;
    background: #000;
    border-radius: 5px;
    opacity: 0.85;
} */
  
.formDiv {
    /* position: absolute; */
    width: 100%;
    height: 70vh;
    margin-top: 30px;
    margin-left: 20px;
    /* z-index: 2; */
}
  
.formDiv h1 {
    color: #FFF;
    font-size: 2rem;
}
  
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
  
.form input[type="text"] {
    width: 90%;
    height: 50px;
    background: #333;
    color: #FFF;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    margin-top: 15px;
}
  
.form input[type="text"]::placeholder {
    color: #a5a79a;
}
  
.form input[type="text"]:focus {
    background: #555555;
    transition: 0.1s ease;
}
  
.form input[type="text"]:focus::placeholder {
    position: relative;
    top: -15px;
    color: #a5a79a;
    font-size: 0.6rem;
    transition: all 0.1s ease;
}
  
.form input[type="button"] {
    width: 90%;
    height: 50px;
    background: #e50914;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 40px;
}
  
.form input[type="submit"]:hover {
    cursor: pointer;
}
  
.form label {
    color: grey;
    font-size: 0.75rem;
}
  
.rowJustifyBetween {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
  
.helpBtn {
    color: grey;
    background: transparent;
    border: none;
}
  
.helpBtn:hover {
    cursor: pointer;
    text-decoration: underline;
}
  
.formHelp {
    width: 90%;
    margin-top: 50px;
}
  
.fbBtn {
    width: 150px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: grey;
    border: none;
}
  
.fbBtn:hover {
    cursor: pointer;
}
  
.signUp {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: 15px;
}
  
.signUp a {
    color: #FFF;
    text-decoration: none;
}
  
.signUp a:hover {
    text-decoration: underline;
}
  
.captcha {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    margin-top: 15px;
}
  
.learnMore {
    color: dodgerblue;
    background: transparent;
    font-size: 0.8rem;
    border: none;
}
  
.learnMore:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* BROWSE ROUTE */
.browseMain {
    width: 100%;
    overflow-x: hidden;
    background: #333;
    font-family: 'Open Sans', sans-serif;
}
  
.flexRow {
    display: flex;
    justify-content: space-between;
}
  
.inlineFlex {
    display: inline-flex;
    align-items: center;
}

.carouselHeader {
    background: #333;
    padding-left: 1rem;
}
  
.carouselHeader h2 {
    color: lightgrey;
}

.carousel {
    width: 3000px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem 0;
}
  
.carouselItem {
    width: 500px;
    height: 150px;
    color: lightgrey;
    border: 1px solid lightgrey;
    padding: 1rem;
    transition: 0.2s ease-in;
}
  
.carouselItem:hover {
    cursor: pointer;
    transform: scale(1.25);
    transition: 0.2s ease-in;
    transition-delay: 0.5s;
}

.chevronLeft {
    position: absolute;
    left: 0;
    height: 150px;
    width: 50px;
    background: transparent;
    color: #FFF;
    font-size: 35px;
    border: none;
}

.chevronLeft:hover {
    cursor: pointer;
    background: #333;
    font-size: 45px;
    opacity: 0.8;
    transition: 0.1s ease-in;
}
  
.chevronRight {
    position: absolute;
    right: 20px;
    height: 150px;
    width: 50px;
    background: transparent;
    color: #FFF;
    font-size: 35px;
    border: none;
}

.chevronRight:hover {
    cursor: pointer;
    background: #333;
    font-size: 45px;
    opacity: 0.8;
    transition: 0.1s ease-in;
}

/* FOOTER */
footer {
    width: 100%;
    height: 55vh;
    display: flex;
    background: #000;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    border-top: 7px solid #3d3d3d;
}
  
footer a {
    color: grey;
    text-decoration: none;
}
  
footer a:hover {
    text-decoration: underline;
}
  
footer button {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;
    background: transparent;
    color: grey;
    font-size: 18px;
    border: 1px solid #3d3d3d;
    border-radius: 2px;
}
  
.footerWrapper {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.footerWrapper p {
    width: 80%;
}

.linksWrapper {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
}
  
.linksWrapper a {
    width: 50%;
    font-size: 0.8rem;
}

/* .languagePopUp {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 60px;
    background: #000;
    border: 1px solid dimgrey;
    border-radius: 2px;
} */

.languagePopUp p {
    margin-top: 0;
  }
  
.languagePopUp p:hover {
    background: dimgrey;
    color: #FFF;
    cursor: default;
}

/* FOOTER ALT */
.footerAlt {
    width: 100%;
    height: 30vh;
    display: flex;
    background: #000;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid grey;
}

.linksWrapperAlt {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
}

.linksWrapperAlt a {
    width: 50%;
    font-size: 0.8rem;
}