/* MEDIA QUERY BREAKPOINT for index.css @ 950px width */
@media screen and (min-width: 950px) {
    /* NAVBAR */ 
    .nav img {
        width: 175px;
        height: 100px;
        margin-top: 20px;
    }
    
    /* LANDING PAGE */
    .banner {
        height: 690px;
    }

    .bannerWrapper {
        padding-top: 50px;
    }
      
    .bannerWrapper h1 {
        font-size: 3rem;
    }
      
    .bannerWrapper h2 {
        margin-top: 15px;
    }
      
    .bannerWrapper p {
        width: 100%;
        font-weight: 500;
        font-size: 1.1rem;
        text-align: center;
        margin-top: 30px;
    }

    .bannerFlexRowAlt {
        width: 110%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
      
    .bannerFlexRowAlt input {
        width: 450px;
        height: 60px;
        padding-left: 10px;
        margin-top: 20px;
        border: 1px solid grey;
    }
      
    .bannerFlexRowAlt input::placeholder {
        font-size: 1rem;
    }

    .bannerFlexRowAlt input:focus {
        outline: none;
        border-color: blue;
    }

    .bannerFlexRowAlt p {
        color: orange;
        font-size: 0.9rem;
        text-align: left;
        margin-top: 5px;
        opacity: 0;
    }
      
    .bannerFlexRowAlt button {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        width: 250px;
        height: 60px;
        background: #e50914;
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-top: -30px;
    }
      
    .bannerFlexRowAlt button:hover {
        background: #ff2400;
        cursor: pointer;
    }

    /* SECTION / SUBSECTION */
    section {
        height: calc(40vw + 10px);
    }
      
    .subsectionWrapper {
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin: auto;
        padding-bottom: 50px;
    }

    .subsectionWrapper img {
        width: calc(40vw + 10px);
    }
    
    .subsectionContent {
        width: 90%;
    }
      
    .subsectionContent h2 {
        font-size: 3rem;
        line-height: 1.2;
        margin-left: 10px;
    }
    
    .subsectionContent h4 {
        font-size: 1.55rem;
        font-weight: normal;
        margin-top: 20px;
        margin-left: 10px;
    }

    /* FAQ */
    .faq {
        min-height: 925px;
        padding-bottom: 85px;
    }
      
    .faq p {
        width: 600px;
        font-size: 1.1rem;
        margin: auto;
        margin-top: 65px;
    }
      
    .faq input {
        width: 65%;
    }

    .getStartedBtn {
        width: 200px;
        height: 60px;
        font-size: 1.5rem;
        margin: auto;
        margin-top: 20px;
        padding: 15px;
    }
      
    .faqWrapper {
        min-height: 750px;
    }

    .faqWrapper h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    /* faqWrapper with margin-bottom */
    .faqWrapperMb {
        min-height: 750px;
        margin: auto;
        margin-bottom: 20px;
    }

    .faqWrapperMb h1 {
        font-size: 3rem;
    }  

    .faqBtn {
        width: 80%;
        height: 75px;
        font-size: 1.6rem;
        padding-left: 2rem;
        margin: auto;
        margin-top: 10px;
    }

    @keyframes slide-down {
        from {
            max-height: 0;
        }
        to {
            max-height: 550px;
        }
    }
    
    .faqBtnDetails {
        width: 80%;
        margin: auto;
    }
    
    .faqBtnDetails p {
        width: 100%;
        font-size: 1.6rem;
        padding: 1.7rem;
        margin: 0;
    }

    .faqFlexRow {
        width: 650px;
        display: flex;
        align-items: center;
        margin: auto;
    }

    .faqFlexRow input {
        width: 450px;
        height: 60px;
        padding-left: 10px;
        margin-top: 20px;
        border: 1px solid grey;
    }

    .faqFlexRow input::placeholder {
        font-size: 1rem;
    }

    .faqFlexRow input:focus {
        outline: none;
        border-color: blue;
    }

    .faqFlexRow p {
        color: orange;
        font-size: 0.9rem;
        text-align: left;
        margin-top: 5px;
        opacity: 0;
    }

    /* FOOTER */
    footer {
        height: 380px;
        display: flex;
    }
      
    .footerWrapper {
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }
    
    .linksWrapper {
        margin: auto;
        margin-top: 30px;
    }
      
    .linksWrapper a {
        width: 25%;
        font-size: 0.8rem;
    }

    .languagePopUpAlt {
        width: 160px;
    }
}

/* MEDIA QUERY for index.css @ 1110px breakpoint */
@media screen and (min-width: 1110px) {
    .footerWrapper {
        width: 875px;
    }
}

/* MEDIA QUERY for index.css @ 1210px breakpoint */
@media screen and (min-width: 1210px) {
    section {
        height: 495px;
    }

    .subsectionWrapper {
        width: 1075px;
    }

    .subsectionWrapper img {
        width: 495px;
    }

    .subsectionContent h2 {
        width: 570px;
    }

    .subsectionContent h4 {
        width: 540px;
        font-weight: 500;
    }

    /* FAQ */
    .faqBtn {
        width: 810px;
    }

    .faqBtnDetails {
        width: 810px;
    }
}

/* MEDIA QUERY for index.css @ 1450px breakpoint */
@media screen and (min-width: 1450px) {
    /* NAV */
    .nav img {
        width: 185px;
        height: 115px;
    }

    /* BANNER */
    .banner {
        height: 750px;
    }

    .bannerWrapper h1 {
        width: 700px;
        font-size: 3.7rem;
    }

    .bannerFlexRowAlt input {
        width: 500px;
        height: 70px;
    }

    .bannerFlexRowAlt button {
        width: 260px;
        height: 70px;
        font-size: 1.7rem;
    }

    /* FAQ */
    .faqFlexRow {
        width: 745px;
    }

    .faqFlexRow input {
        width: 500px;
        height: 70px;
    }

    .faqFlexRow button {
        width: 350px;
        height: 70px;
        font-size: 1.7rem;
    }
}

/* MEDIA QUERY for index.css @ fullscreen */
