/* MEDIA QUERY BREAKPOINT for index.css @ 550px width */
@media screen and (min-width: 550px) {
    /* NAVBAR */
    .nav {
        width: 90%;
        margin-left: 5%;
    }
      
    .nav img {
        width: 125px;
        height: 75px;
    }
      
    .languageBtn {
        width: 120px;
        height: 35px;
        border: 1px solid lightgrey;
        border-radius: 1px;
    }
      
    .languageDropDown {
        position: absolute;
        top: 53px;
        width: 120px;
        height: 55px;
        border-radius: 5px;
        box-shadow: none;
    }
      
    .languageDropDown p {
        padding: 3px;
    }
      
    .signIn {
        width: 80px;
        height: 33px;
        font-size: 0.95rem;
        margin-left: 25px;
    }

    /* HERO IMAGE / BANNER */
    .main {
        height: 760px;
    }
      
    .main h1 {
        width: 85%;
        font-size: 2.95rem;
    }
      
    .main h2 {
        width: 85%;
        font-weight: 600;
        font-size: 1.5rem;
    }
      
    .main p {
        width: 70%;
    }
      
    .main input {
        width: 85%;
    }

    /* SECTION / SUBSECTION */
    .subsectionWrapper {
        width: 95%;
        margin-bottom: 100px;
    }

    .subsectionWrapper img {
        width: calc(85% + 25px);
    }
      
    .subsectionWrapper h2 {
        font-size: 2.35rem;
    }
    
    .subsectionContent h4 {
        width: 85%;
        font-size: 1.2rem;
        font-weight: 500;
        margin: auto;
        margin-top: 10px;
    }

    /* FAQ */
    .faq {
        min-height: 840px;
    }
      
    .faq p {
        width: 90%;
        margin-top: 25px;
    }
      
    .faq input {
        width: 100%;
    }

    .getStartedBtn {
        width: 140px;
    }
      
    .faqWrapper {
        width: 75%;
        min-height: 840px;
    }

    .faqWrapper h1 {
        font-size: 2.3rem;
    }

    /* FaqWrapper with margin-bottom */
    .faqWrapperMb {
        width: 75%;
        min-height: 840px;
        margin-bottom: 100px;
    }

    .faqWrapperMb h1 {
        font-size: 2.3rem;
    }  

    .faqBtn {
        height: 57px;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1.3rem;
        margin-top: 0.6rem;
    }

    @keyframes slide-down {
        from {
            max-height: 0;
        }
        to {
            max-height: 450px;
        }
    }
    
    .faqBtnDetails {
        animation: slide-down 0.2s forwards;
    }
    
    .faqBtnDetails p {
        width: 100%;
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 1.3rem;
        margin: 0;
    }

    /* FOOTER */
    footer {
        height: 430px;
    }
    
    .footerWrapper p {
        margin-top: 50px;
    }
    
    .linksWrapper {
        height: 55%;
        margin: auto;
    }
      
    .linksWrapper a {
        width: 33.3%;
        font-size: 0.8rem;
    }

    .languagePopUpAlt {
        margin-bottom: 70px;
    }
    
    .languagePopUpAlt p {
        width: 100%;
        margin-top: 0;
      }
}