/* LOGIN / SIGN IN ROUTE */
.login {
    width: 100%;
    height: 665px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #000;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.logo { 
    height: 75px;
    background: transparent;
    border: none;
}

.logo:hover {
    cursor: pointer;
}

.login img {
    width: 200px;
    height: 100px
}
  
.formDiv {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    margin-left: 20px;
}
  
.formDiv h1 {
    color: #FFF;
    font-size: 2rem;
}
  
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
  
.form input[type="text"] {
    width: 90%;
    height: 50px;
    background: #333;
    color: #FFF;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    margin-top: 15px;
}
  
.form input[type="text"]::placeholder {
    color: #a5a79a;
}
  
.form input[type="text"]:focus {
    background: #555555;
    transition: 0.1s ease;
}
  
.form input[type="text"]:focus::placeholder {
    position: relative;
    top: -15px;
    color: #a5a79a;
    font-size: 0.6rem;
    transition: all 0.1s ease;
}
  
.form input[type="button"] {
    width: 90%;
    height: 50px;
    background: #e50914;
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 40px;
}
  
.form input[type="button"]:hover {
    cursor: pointer;
}
  
.form label {
    color: grey;
    font-size: 0.75rem;
}
  
.rowJustifyBetween {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.rowJustifyBetween label {
    color: lightgrey;
}

.rowJustifyBetween button {
    color: lightgrey;
    background: transparent;
    border: none;
}

.rowJustifyBetween button:hover {
    cursor: pointer;
    text-decoration: underline;
}
  
.formHelp {
    width: 90%;
    margin-top: 30px;
}
  
.fbBtn {
    width: 150px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: grey;
    border: none;
}
  
.fbBtn:hover {
    cursor: pointer;
}
  
.signUp {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: 20px;
}
  
.signUp a {
    color: #FFF;
    text-decoration: none;
}
  
.signUp a:hover {
    text-decoration: underline;
}
  
.captcha {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    margin-top: 10px;
}
  
.learnMore {
    color: dodgerblue;
    background: transparent;
    font-size: 0.8rem;
    border: none;
}
  
.learnMore:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hidden {
    display: none;
}

.learnMoreDetails {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    margin-top: 10px;
}

.learnMoreDetails a {
    color: dodgerblue;
    text-decoration: none;
}

.learnMoreDetails a:hover {
    text-decoration: underline;
}

/* FOOTER ALT - DARK THEME */
.footerAlt {
    width: 100vw;
    height: 300px;
    display: flex;
    background: #000;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid grey;
}

.footerAlt p {
    margin-top: 5px;
}

.footerWrapperAlt {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 20px;
}

.linksWrapperAlt {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}

.linksWrapperAlt a {
    width: 50%;
    font-size: 0.8rem;
}

.languageBtnAlt {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 50px;
    background: transparent;
    color: grey;
    border: 1px solid #3d3d3d;
    border-radius: 2px;
    font-size: 0.9rem;
}

.languagePopUp {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 55px;
    background: #000;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
}

.languagePopUp p {
    width: 100%;
    font-size: 0.85rem;
    padding-left: 0.5rem;
  }
  
.languagePopUp p:hover {
    background: dimgrey;
    color: #FFF;
    cursor: default;
}