/* MEDIA QUERY BREAKPOINT for login.css @ 500px width */
@media screen and (min-width: 500px) {
    .login {
        height: 625px;
    }
    
    .login img {
        width: 200px;
        height: 120px;
        margin-top: -20px;
    }
      
    .formDiv {
        width: 90%;
        height: 580px;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 30px;
    }
      
    .formDiv h1 {
        margin-top: -10px;
        margin-bottom: 10px;
    }
      
    .form input[type="text"] {
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }

    .form input[type="button"] {
        width: 100%;
    }
      
    .rowJustifyBetween {
        width: 100%;
        margin-bottom: -15px;
    }
      
    .formHelp {
        width: 100%;
        margin-top: 40px;
    }
      
    .signUp {
        margin-top: 10px;
    }
      
    .captcha {
        font-size: 0.8rem;
    }
    
    .learnMoreDetails {
        font-size: 0.77rem;
        margin-top: 20px;
    }

    /* FOOTER ALT - DARK */
    .footerAlt {
        height: 340px;
    }

    .footerWrapperAlt {
        width: 90%;
        height: 60%;
        margin-left: 30px;
    }

    .linksWrapperAlt {
        height: 30%;
    }
    
    .linksWrapperAlt a {
        width: 33.3%;
    }

    .languageBtnAlt {
        width: 145px;
        margin-bottom: 5px;
    }
    
    .languagePopUp {
        position: absolute;
        width: 145px;
        border: 1px solid dimgrey;
        padding-left: 5px;
        margin-top: -5px;
    }
      
    .languagePopUp p {
        font-size: 0.9rem;
        margin-top: 0;
    }
}

/* MEDIA QUERY for login.css @ 700px breakpoint */
@media screen and (min-width: 700px) {
    .login {
        height: 640px;
    }

    .footerAlt {
        height: 325px;
    }
}