/* MEDIA QUERY BREAKPOINT for registration.css @ 500px width */
@media screen and (min-width: 500px) {
    .registration {
        height: 750px;
    }
    
    .flexRowFull {
        height: 77px;
    }
    
    .flexRowFull img {
        width: 200px;
        height: 100px;
    }
    
    .flexRowFull a {
        font-size: 1rem;
    }
    
    /* REG FORM ROUTE */
    .regForm {
        height: 750px;
    }
    
    .flexColForm {
        width: 440px;
        height: 730px;
    }
    
    .flexColForm h1 {
        margin-bottom: 5px;
    }
    
    .flexColForm h3 {
        margin-top: 5px;
    }
    
    /* SIGN UP / PLANS ROUTE */
    .plans {
        height: 815px;
    }

    .flexColPlans h1 {
        margin-bottom: 25px;
    }
    
    .flexColPlans h2 {
        margin-bottom: 20px;
    }
    
    /* PLAN FORM ROUTE */
    .planForm {
        height: 1100px;
    }
    
    .flexColFull {
        width: 90%;
    }

    .flexColFull p {
        margin-top: 25px;
    }
    
    .flexColFull h1 {
        letter-spacing: -1px;
    }

    .planBreakdown {
        height: 65px;
    }

    .flexRowBreakdown p {
        margin-bottom: 40px;
    }
    
    .planDetails {
        margin-top: -15px;
    }

    .planDetails p {
        padding-bottom: 0;
        margin-bottom: -15px;
    }

    .flexColFull .nextBtn {
        width: 440px;
        margin-top: 0;
    }
    
    /* PAYMENT ROUTE */
    .mdLockIcon {
        margin-top: 45px;
    }

    .flexColPayment {
        width: 85%;
        height: 680px;
    }

    .flexColPayment p {
        margin-top: 40px;
    }
    
    .flexColPayment h2 {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: -1px;
        margin-bottom: 10px;
    }

    .headerThree {
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: -15px;
    }
    
    .secureServer {
        font-weight: 500;
        text-align: right;
    }
    
    .creditDiv {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid lightgrey;
        border-radius: 5px;
        padding-left: 15px;
    }
    
    .creditFlexCol {
        display: flex;
        flex-direction: column;
    }
    
    .creditFlexCol p {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0;
    }
    
    .creditFlexCol img {
        margin: 0 -5px;
    }

    .creditFlexRow {
        display: flex;
        align-items: center;
    }

    .creditFlexRow p {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0;
    }

    .creditFlexRow img {
        margin: 0 -5px;
    }
    
    .paypalGiftDiv {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid lightgrey;
        border-radius: 5px;
        padding-left: 15px;
    }
    
    .paypalGiftFlexRow {
        display: flex;
    }
    
    .paypalGiftFlexRow p {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0;
    }
    
    .creditDiv:hover,
    .paypalGiftDiv:hover {
        cursor: pointer;
    }
    
    /* CREDIT/DEBIT OPTION */
    .creditOption {
        height: 1125px;
    }
    
    .flexColCredit {
        height: 900px;
        margin: auto;
        margin-top: 30px;
    }
    
    .startMembershipBtn {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 65px;
        background: #e50914;
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        border: none;
        border-radius: 5px;
        margin: auto;
        margin-top: 30px;
    }
    
    .startMembershipBtn:hover {
        background: #ff2400;
        cursor: pointer;
    }
    
    /* PAYPAL OPTION */
    .paypalOption {
        height: 755px;
    }
    
    .flexColPaypal {
        width: 430px;
    }
    
    /* GIFT CODE OPTION */
    .giftOption {
        height: 800px;
    }

    .flexColGift h1 {
        margin-bottom: 10px;
    }

    .flexColGiftMb {
        margin-bottom: 180px;
    }

    .flexColGiftMb p {
        margin-top: 25px;
    }

    /* FOOTER ALT - LIGHT */
    .footerAltLight {
        height: 215px;
    }
    
    .linksWrapperAltLight a {
        width: 33.3%;
    }

    .languagePopUpLight {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 505px) {
    .giftOption {
        height: 785px;
    }
}

/* MEDIA QUERY for 520px breakpoint */
@media screen and (min-width: 520px) {
    .flexColGift,
    .flexColGiftMb {
        width: 425px;
    }
}

/* MEDIA QUERY for registration.css @ 606px width */
@media screen and (min-width: 606px) {
    /* REGISTRATION PAGE */
    .flexCol {
        text-align: center;
    }

    .flexCol img {
        margin: auto;
        margin-bottom: 35px;
    }

    /* SIGN UP PAGE */
    .checkMarkCircle,
    .flexColPlans p,
    .flexColPlans h1 {
        text-align: center;
    }

    /* PLAN FORM PAGE */
    .planForm {
        height: 1045px;
    }

    .gridContainer {
        width: 100%;
        height: 380px;
    }

    .planBreakdownGrid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 95px 1fr 1fr 1fr 100px;
        grid-template-columns: 40% 20% 20% 20%;
        text-align: center;
        margin-top: 25px;
    }

    .planBreakdownGrid p {
        font-size: 1rem;
        font-weight: 700;
    }

    .inactiveBtn {
        width: 90px;
        height: 90px;
        border-radius: 2px;
    }

    .activeBtn {
        width: 90px;
        height: 90px;
        border-radius: 2px;
    }

    .activeBtn:after {
        border-top: 10px solid #e50914;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .redText {
        color: #e50914;
    }

    .greyText {
        color: dimgrey;
    }

    .planDetails {
        margin-top: 0;
    }

    .planDetails p {
        width: 75%;
    }

    .flexColFull .nextBtn {
        margin-top: 35px;
    }

    /* PAYMENT PAGE */
    .flexColPayment {
        width: 495px;
    }

    .flexColPayment p {
        margin-top: 43px;
    }

    .mdLockIcon,
    .flexColPayment p:not(.secureServer), 
    .flexColPayment h1 {
        text-align: center;
    }

    .flexColPayment h2 {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .headerThree {
        text-align: center;
        margin: auto;
        margin-bottom: -20px;
    }

    .creditDiv p,
    .paypalGiftDiv p {
        margin-top: 0;
    }
}

/* MEDIA QUERY @ 508px breakpoint */
@media screen and (min-width: 508px) {
    .flexColFull .nextBtn {
        margin-top: -15px;
    }
}

@media screen and (min-width: 606px) {
    .planForm {
        height: 1055px;
    }

    .flexRowBtns {
        width: 55%;
        float: right;
    }

    .flexColFull .nextBtn {
        margin-top: 15px;
    }
}

@media screen and (min-width: 624px) {
    .flexColFull .nextBtn {
        margin-top: 0;
    }
}

@media screen and (min-width: 671px) {
    .flexColFull .nextBtn {
        margin-top: -15px;
    }
}

@media screen and (min-width: 702px) {
    .planDetails {
        margin-top: -20px;
    }
}

@media screen and (min-width: 718px) {
    .flexColFull .nextBtn {
        margin-top: -15px;
    }
}

/* MEDIA QUERY for registration.css @ 740px breakpoint */
@media screen and (min-width: 740px) {
    /* NAV */
    .flexRowFull {
        height: 90px;
    }

    .flexRowFull img {
        margin-left: 2%;
    }

    .flexRowFull a {
        font-size: 1.1rem;
        margin-right: 3%;
    }

    /* REGISTRATION page */
    .registration {
        height: 765px;
    }

    /* SIGN UP page */
    .plans {
        height: 830px;
    }

    /* PAYMENT page */
    .payment {
        height: 880px;
    }

    /* CREDIT OPTION page */
    .creditOptionMb {
        height: 1215px;
    }

    .flexColCredit {
        margin-top: 25px;
    }

    .flexColCreditMb input::placeholder {
        font-size: 1rem;
    }

    .currentPlanDiv .price {
        font-size: 0.95rem;
    }

    .currentPlanDiv .planName {
        font-size: 0.95rem;
    }

    .currentPlanDiv button {
        font-size: 0.95rem;
    }

    /* GIFT OPTION */
    .giftOption {
        height: 800px;
    }

    .flexColGift input::placeholder {
        font-size: 1rem;
    }

    .giftOption .learnMoreDetails {
        position: relative;
        line-height: normal;
    }

    /* FOOTER ALT - LIGHT */
    .footerAltLight {
        height: 215px;
    }

    .languageBtnLight {
        margin-top: 15px;
    }

    .linksWrapperAltLight a {
        width: 25%;
    }
}

@media screen and (min-width: 745px) {
    .languageBtnLight {
        margin-top: -15px;
    }
}