/* REGISTRATION + REG FORM ROUTES */
.registration {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

.flexRowFull {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.flexRowFull img {
    width: 100px;
    height: 50px;
}

.flexRowFull img:hover {
    cursor: pointer;
}

.flexRowFull a {
    color: #333;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.flexRowFull a:hover {
    text-decoration: underline;
}

.flexCol {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 30px;
}

.flexCol img {
    width: 80%;
    height: auto;
    margin-bottom: 40px;
}

.flexCol p {
    font-size: 0.8rem;
}

.flexCol h1 {
    margin-bottom: 15px;
}

.flexCol h3 {
    font-size: 1.1rem;
    font-weight: 500;
}

.nextBtn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 15px;
}

.nextBtn:hover {
    background: #ff2400;
    cursor: pointer;
}

/* REG FORM ROUTE */
.regForm {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

.flexColForm {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
}

.flexColForm p {
    font-size: 0.8rem;
}

.flexColForm h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 15px;
}

.flexColForm h3 {
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.flexColForm input {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey;
}

.flexColForm input::placeholder {
    font-size: 0.9rem;
    font-weight: 500;
}

.flexColForm input:focus {
    outline: none;
    border-color: blue;
}

.flexColForm .nextBtn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
}

.flexColForm .nextBtn:hover {
    background: #ff2400;
    cursor: pointer;
}

/* SIGN UP / PLANS ROUTE */
.plans {
    width: 100%;
    height: 785px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

.flexColPlans {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;
}

.flexColPlans p {
    font-size: 0.8rem;
    margin-top: 20px;
}

.flexColPlans h1 {
    margin-bottom: 30px;
}

.flexColPlans h2 {
    width: 250px;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 15px;
}

/* PLAN FORM ROUTE */
.planForm {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 150px;
}

.flexColFull {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 50px;
}

.flexColFull p {
    font-size: 0.8rem;
    margin-top: 25px;
}

.flexColFull h1 {
    margin-bottom: 15px;
}

.flexColFull h2 {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: -5px;
    margin-left: 5px;
}

.flexRowBtns {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

.inactiveBtn {
    position: relative;
    width: 32%;
    height: 75px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    opacity: 0.5;
}

.activeBtn {
    position: relative;
    width: 32%;
    height: 75px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 30px 1px lightgrey;
}

.activeBtn:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 40%;
    width: 0;
    height: 0;
    border-top: 15px solid #e50914;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.planBreakdown {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding-top: 10px;
}

.planBreakdown h3 {
    font-size: 0.8rem;
    font-weight: 500;
}

.flexRowBreakdown {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
}

.flexRowBreakdown p {
    width: 80%;
    font-size: 1rem;
    margin: 0;
}

.planDetails {
    height: 150px;
    margin-top: 5px;
}

.planDetails p {
    color: #333;
    font-size: 0.8rem;
    margin: 0;
    padding-bottom: 10px;
}

.planDetails a {
    font-weight: 600;
    text-decoration: none;
}

.planDetails a:hover {
    text-decoration: underline;
}

.flexColFull .nextBtn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 65px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
}

.flexColFull .nextBtn:hover {
    background: #ff2400;
    cursor: pointer;
}

/* PAYMENT ROUTE */
.payment {
    width: 100%;
    height: 865px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

.flexColPayment {
    width: 80%;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 200px;
}

.flexColPayment p {
    font-size: 0.8rem;
    margin-top: 30px;
}

.flexColPayment h2 {
    width: 190px;
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 10px;
}

.flexColPayment h3 {
    width: 190px;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 5px;
}

.secureServer {
    font-weight: 500;
    text-align: right;
}

.creditDiv {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.creditFlexCol {
    display: flex;
    flex-direction: column;
}

.creditFlexCol p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
}

.creditFlexCol img {
    margin: 0 -5px;
}

.paypalGiftDiv {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 5px;
}

.paypalGiftFlexRow {
    display: flex;
}

.paypalGiftFlexRow p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
}

.creditDiv:hover,
.paypalGiftDiv:hover {
    cursor: pointer;
}

/* CREDIT/DEBIT OPTION PAGE */
.creditOption {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

.flexColCredit {
    width: 85%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.flexColCredit p {
    font-size: 0.8rem;
}

.flexColCredit input {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey;
}

.flexColCredit input::placeholder {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.flexColCredit input:focus {
    outline: none;
    border-color: blue;
}

/* .creditOption class with more height for error msg space */
.creditOptionMb {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 100px;
}

/* .flexColCredit class with more height for error msg space */
.flexColCreditMb {
    width: 85%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.flexColCreditMb p {
    font-size: 0.8rem;
}

.flexColCreditMb input {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey;
}

.flexColCreditMb input::placeholder {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.flexColCreditMb input:focus {
    outline: none;
    border-color: blue;
}

.inputIcon {
    position: relative;
    float: right;
    margin-top: -50px;
    margin-right: 5px;
}

.currentPlanDiv {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.currentPlanDiv button {
    color: #1672F9;
    font-size: 0.9rem;
    font-weight: 700;
    background: transparent;
    border: none;
}

.currentPlanDiv button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.membershipDetails {
    color: grey;
    letter-spacing: -0.25px;
    line-height: 1rem;
    margin-top: 20px;
}

.membershipDetails a {
    text-decoration: none;
}

.membershipDetails a:hover {
    text-decoration: underline;
}

.startMembershipBtn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
}

.startMembershipBtn:hover {
    background: #ff2400;
    cursor: pointer;
}

/* PAYPAL OPTION PAGE */
.paypalOption {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

.flexColPaypal {
    width: 85%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 320px;
}

.flexColPaypal p {
    font-size: 0.8rem;
    margin-top: 20px;
}

.flexColPaypal h3 {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: -1px;
    margin-top: 20px;
}

.payPalBtn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 40px;
}

.payPalBtn:hover {
    background: #ff2400;
    cursor: pointer;
}

/* GIFT CODE OPTION */
.giftOption {
    width: 100%;
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

.flexColGift {
    width: 85%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 250px;
}

.flexColGift p {
    font-size: 0.8rem;
    margin-top: 25px;
}

.flexColGift h1 {
    margin-bottom: 5px;
}

.flexColGift input {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey;
}

.flexColGift input::placeholder {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.flexColGift input:focus {
    outline: none;
    border-color: blue;
}

.flexColGiftMb {
    width: 85%;
    height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 400px;
}

.flexColGiftMb h1 {
    margin-bottom: 10px;
}

.flexColGiftMb p {
    font-size: 0.8rem;
    margin-top: 25px;
}

.flexColGiftMb input {
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey;
}

.flexColGiftMb input::placeholder {
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.flexColGiftMb input:focus {
    outline: none;
    border-color: blue;
}

.redeemCodeBtn {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65px;
    background: #e50914;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.redeemCodeBtn:hover {
    background: #ff2400;
    cursor: pointer;
}

.flexColGiftMb .redeemCodeBtn {
    margin-top: 25px;
}

.giftOption .captcha {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 15px;
}

.giftOption .learnMoreDetails {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
}

.editPlan {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #FFF;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 150px;
}

.editPlan h1 {
    margin-top: 20px;
}

/* FOOTER ALT - LIGHT THEME */
.footerAltLight {
    width: 100%;
    height: 245px;
    background: #f4f4f4;
    color: dimgrey;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid lightgrey;
}

.footerAltLight button {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 50px;
    color: grey;
    font-size: 18px;
    border-radius: 2px;
    background: #FFF;
    border: 1px solid grey;
    margin-top: 20px;
}

.linksWrapperAltLight {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.linksWrapperAltLight a {
    width: 50%;
    font-size: 0.8rem;
    color: dimgrey;
    margin-top: 10px;
}

.languagePopUpLight {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 157px;
    height: 60px;
    background: #FFF;
    border: 1px solid dimgrey;
    border-radius: 4px;
    box-shadow: 3px 2px 0px 0px dimgrey;
    margin-bottom: 70px;
}

.languagePopUpLight p {
    width: 100%;
    font-size: 1.05rem;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    padding-left: 0.5rem;
  }
  
.languagePopUpLight p:hover {
    background: dimgrey;
    color: #FFF;
    cursor: default;
}
